a, button {
  transition: all 0.3s ease;
  text-decoration:none;
  color: black;
}

a:hover{
  opacity: 0.2;
}

a:hover .child-hover{
  opacity: 0.2;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 100%;
  letter-spacing: 0.05em;
}

header {
  padding: 0px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

hr{
  margin-top: 20px;
  margin-bottom: 0px;
}

.site-title {
  font-style: normal;
  font-size: 32px;
  line-height: 100%;
  font-weight: 900;
  margin-left: 60px;
  margin-top: 50px;
  margin-right: 0px
  padding: 0px;
  letter-spacing: 0.05em;
}

.alphabet{
  font-family: 'Roboto';
}


ul {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   padding: 0px;
   margin: 0px;
}

.archive-img{
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow:hidden;
}


.archive-img img {
  /* margin-right: 10px;
  margin-left: 10px; */
  margin-top: 2vw;
  max-width: 100%;
  max-height: 100%;
  width: 18vw;
  height: calc(18vw  / 225.5 * 126);
  vertical-align: middle;
}

.hidden-img{
  display: none;
}

.archive-img:after{
  content: "";
  width: 18vw;
  height: 0;
}

.archive-img:before{
  content: "";
  width: 18vw;
  order: 1;
}

.nav-titles {
  letter-spacing: 0.05em;
  margin-top: 59px;
  margin-left: 33px;
  margin-right: 30px
}


.nav-title {
  margin: 0px 0px 0px 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}

.nav-link {
  color: black;
}

main{
  margin-right: 159px;
  margin-left: 159px;
}

.header-background {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 720px;
   background: url('../img/dummy.png') top center / cover no-repeat;
}

.main-visual {
   margin-top: 112px;
   margin-left: 25%;
   margin-right: 25%;
}

.main-visual img{
  width: 100%;
  /* max-width: 1000px; */
  max-height: 508px;
}

.section-title {
  color: black;
  font-size: 32px;
  font-weight: 800;
  padding-top: 80px;
  margin-bottom: 20px;
  text-align: center;
}

.description{
  margin-top: 40px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
}

.description-20{
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 700;
}

.hidden-note{
  display: none;
}

.button-wrapper{
  margin-top: 40px;
  text-align: center;
}

.view-more{
  border: 1px solid black;
  width: 190px;
  height: 50px;
  color: white;
  background: #000;
  font-size: 16px;
  overflow: hidden;
}

.view-more:hover{
  color: black;
  background: #fff;
}

.text-more::before{
  display: block;
  font-size: 16px;
  content: "View More";
}

.text-less{
  display:none;
}

.text-less::before{
  font-size: 16px;
  content: "View Less";
}

.submit{
  border: 1px solid black;
  width: 190px;
  height: 50px;
  color: white;
  background: #000;
  font-size: 16px;
  overflow: hidden;
}

.submit:hover{
  color: black;
  background: #fff;
}


.gmap {
  height: 0;
  overflow: hidden;
  margin-top: 40px;
  padding-bottom: 373px;
  position: relative;
}

.gmap iframe {
position: absolute;
left: 0;
top: 0;
height: 373px;
width: 664px;
max-width: 100%;
}

.date{
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 700;
  color: #B5B5B5;
}

.form-text{
  width: 100%;
  height: 40px;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin-top: 20px;
}

.form-textarea{
  width: 100%;
  height: 140px;
  margin-top: 20px;
}

.footer {
  font-size: 20px;
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;
  color: #B5B5B5;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  main{
    margin-left: 59px;
    margin-right: 59px;
  }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  main{
    margin-left: 90px;
    margin-right: 90px;
  }
  .gmap {
    padding-bottom: 56.25%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  main{
    margin-left: 100px;
    margin-right: 100px;
  }
  .gmap {
    padding-bottom: 56.25%;
    max-height: 373px;

  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  main{
    margin-left: 159px;
    margin-right: 159px;
  }
  .gmap {
    padding-bottom: 373px;
  }
}
